
background {color: black}

body 
{
  text-align: center;
  #font-family:"Times New Roman",Georgia,Serif;
  #font-family: Courier, 'Courier New', monospace;
	font-family: verdana;
	font-size: 11px;  
  
  background-image: url("background_blue.jpg"); 
  background-color: #000000


}

p
{
  text-align: left; <!-- this over rides the body::center line -->
  color: black;
}

table
{
  border-spacing: 1;
}

picture
{
  border-color: red;
}



/*
body {
	background-color: #111;
	font-family: verdana;
	font-size: 10px;
	color: #ffffff;
	margin: 0px;
}

#head {
	width: 100%;
	height: 60px;
	background-color: #000;
	border-bottom: 1px solid #ff8400;
	font-size: 48px;
	text-align: center;
	margin-bottom: 4px;
}

#nav {
	text-align: center;
	color: #666666;
	margin-bottom: 15px;
}

#nav a {
	color: #fff;
	text-decoration: none;
}

#nav a:hover {
	color: #ff8400;
}

#content {
width: 50%;
text-align: left;
}

a {
	color: #ff8400;
	text-decoration: none;
}

a:hover {
	/*text-decoration: underline;* /
	color: #cccccc;
}

/ * ==ARTWORK == * /

td.picture {
	width: 200px;
}

img.artwork {
	width: 200px;
	height: 150px;
	border: 1px solid #ff8400;
}

td.info {
	width: 450px;
	height: 150px;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
}

h2 {
	color: #ff8400;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
}
*/
